@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "ProximaNova"; 
    // адрес шрифта и тип 
    src: url("../fonts/ProximaNova.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 